* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 2.0rem;
    padding: 5rem 0rem;
    color: #6f4e37;
}

h1 {
    font-size: 2.8rem;
    padding: 2rem 0rem;
}

h2 {
    font-size: 3.5rem;
    padding: 2rem 0rem;
}

h3 {
    font-size: 2.8rem;
    padding: 2rem 0rem;
}

h4 {
    font-size: 2.2rem;
    padding: 2rem 0rem;
}

p {
    font-size: 2.0rem;
}

/* (Call to action) Sticky button that floats with the page */
#clickme {
    clear: both;
    height: 6.0rem;
    position: fixed;
    padding: 1.0rem;
    border: 0.3rem solid #6f4e37;
    background-color: #e0d7d1;
    right: 0.1rem;
}

#clickme>a {
    color: #6f4e37;
    font-size: 1.5rem;
}

#clickme:hover {
    color: #e0d7d1;
    background-color: #6f4e37;
    border: 0.3rem solid #e0d7d1;
}

#clickme>a:hover {
    color: #e0d7d1;
}

/* Header */
#header {
    height: 10rem;
    margin: 0.1rem;
    padding: 2rem;
    background-color: #e0d7d1;
    color: #6f4e37;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav h1 {
    float: left;
}

nav ul {
    float: right;
}

nav li {
    float: left;
    padding: 0.3rem 10rem 0.3rem 0rem;
    margin: 0.5rem;
}

#logo {
    clear: both;
    font-size: 2.5rem;
    padding: 1rem 1rem 1rem 10rem;
}

nav>h1>i {
    font-size: 4rem;
}

/* Main content */

#main {
    text-align: center;
    background-color: #e0d7d1;
    color: #6f4e37;
    padding: 2rem;
}

#main section {
    border: 0.2rem solid #6f4e37;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    text-align: center;
    border: 2rem solid #6f4e37;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mainsection {
    clear: both;
    padding-bottom: 1rem;
    background-color: white;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-position: center;
}

.mainsection fieldset {
    margin: 2rem;
    padding: 1rem;
    border: 0.5rem solid black;
    min-width: auto;
    width: auto;
    height: auto;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-position: center;
}

.mainsection img {
    width: 100%;
    height: 80%;

}

/* Drinks section */
#menu {
    clear: both;
    padding-bottom: 1rem;
    background-color: white;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-position: center;
}

#menu li {
    font-size: 2.0rem;
}

#menu fieldset {
    margin: 2rem;
    padding: 1rem;
    border: 0.5rem solid black;
    min-width: auto;
    width: auto;
    height: auto;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-position: center;
}

/* Contact Us */
#contact {
    background-color: white;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-position: center;
}

#contact fieldset {
    margin: 2rem;
    padding: 1rem;
    border: 0.5rem solid black;
    min-width: auto;
    width: auto;
    height: auto;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-position: center;
}

#contact label {
    display: block;
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 2.0rem;
    min-width: auto;
}

#contact input {
    padding: 0.1rem;
    border: 0.2rem solid #6f4e37;
    width: 25rem;
    min-width: auto;
}

#contact textarea {
    padding: 0.1rem;
    border: 0.2rem solid #6f4e37;
    width: 25rem;
    min-width: auto;
}

#submit {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 2.0rem;
    border: 0.2rem solid #6f4e37;
    width: 25rem;
    font-size: 2.0rem;
    color: #6f4e37;
}

#submit:hover {
    border: 0.25rem solid #6f4e37;
    color: #e0d7d1;
    cursor: pointer;
    background-color: #6f4e37;
}

/* Footer */
footer {
    height: 15rem;
    margin: 0.1rem;
    padding: 0.2rem;
    border: 0;
    background-color: #e0d7d1;
    vertical-align: bottom;
    background-image: url("/Images/Coffee-surrounding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social_media {
    text-align: center;
}

.social_media>li {
    clear: both;
    display: inline;
}

.social_media i {
    font-size: 30px;
    color: #6f4e37;
    padding: 10px 30px;
    margin: 20px 50px;
    border: 2px solid #6f4e37;
    border-radius: 50%;
    overflow: hidden;
}

.social_media i:hover {
    border: 2px solid#e0d7d1;
    cursor: pointer;
}

footer>h2 {
    clear: both;
    font-size: 20px;
    color: #6f4e37;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
}

#copyrights {
    clear: both;
    font-size: 1.5rem;
    color: #6f4e37;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
}

/* Events gallery */

#gallery {
    border: 1rem solid black;
    margin: 0.1rem;
    padding: 0.1rem;
    background-color: #e0d7d1;
    text-align: center;
}

#gallery>img {
    width: 47%;
    height: 40rem;
    display: inline-block;
    border: 0.5rem solid black;
    margin: 0.1rem;
    padding: 0.1rem;
    box-sizing: unset;
}

#gallery>h1 {
    font-size: 10rem;
    color: #6f4e37;
}